# Airbnb Data Cleaning and Profiling

## Table of Contents
1. Load Raw Listings Data
2. Dataset Shape and Column Inspection
3. Price Column Cleaning
4. Column Subset Selection
5. Missing Value Analysis
6. Null Row Removal
7. Export Clean Dataset
8. Summary Statistics
9. Category Frequency Checks

In [8]:
import pandas as pd

df = pd.read_csv(r"C:\Users\rbaue\Desktop\listings.csv.gz")
df.shape

(2877, 79)

In [9]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [10]:
df['price'] = (
    df['price']
    .replace('[\$,]', '', regex=True)
    .astype(float)
)

In [11]:
columns = [
    'id','name','neighbourhood','latitude','longitude',
    'room_type','property_type','price','minimum_nights',
    'number_of_reviews','reviews_per_month','availability_365',
    'host_is_superhost','instant_bookable'
]

airbnb = df[columns].copy()
airbnb.shape

(2877, 14)

In [12]:
airbnb.isnull().sum()

id                      0
name                    0
neighbourhood        1365
latitude                0
longitude               0
room_type               0
property_type           0
price                 183
minimum_nights          0
number_of_reviews       0
reviews_per_month     319
availability_365        0
host_is_superhost     161
instant_bookable        0
dtype: int64

In [13]:
airbnb = airbnb.dropna()
airbnb.shape

(1259, 14)

In [14]:
airbnb.to_csv("airbnb_clean.csv", index=False)

In [15]:
airbnb.describe()

,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
count,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000
mean,6.007705e+17,39.986850,-82.993226,373.557585,7.813344,100.466243,2.275187,232.691819
std,5.136490e+17,0.041462,0.038348,3334.189609,12.113242,129.306236,1.971969,112.630375
min,9.067600e+04,39.877640,-83.160016,25.000000,1.000000,1.000000,0.020000,0.000000
25%,4.388498e+07,39.957770,-83.009000,85.000000,1.000000,15.000000,0.730000,154.000000
50%,7.028328e+17,39.981190,-82.998890,118.000000,2.000000,55.000000,1.870000,257.000000
75%,1.000703e+18,39.999821,-82.977518,166.000000,3.000000,130.000000,3.330000,336.000000
max,1.507536e+18,40.147290,-82.781940,50028.000000,105.000000,997.000000,18.770000,365.000000

In [16]:
airbnb['room_type'].value_counts()
airbnb['neighbourhood'].value_counts().head(10)

neighbourhood
Neighborhood highlights    1259
Name: count, dtype: int64