In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import folium
import json

In [2]:
# Import file

df = pd.read_csv(r"C:\Users\rbaue\Desktop\airbnb_clean.csv")
df.head()

,id,name,neighbourhood,latitude,longitude,room_type,property_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,host_is_superhost,instant_bookable
0,90676,Short North - Italianate Cottage,Neighborhood highlights,39.98366,-83.00252,Entire home/apt,Entire home,128,1,868,5.11,155,t,f
1,591101,Bellows Studio Loft Apartment,Neighborhood highlights,39.96041,-82.98005,Private room,Private room in loft,112,2,342,2.14,339,t,f
2,927867,Full Private Room at the Hostel,Neighborhood highlights,40.01259,-83.00164,Private room,Private room in hostel,105,1,82,0.56,292,f,f
3,1183297,Hannah's Haus**Prime location in German Village**,Neighborhood highlights,39.95164,-82.99434,Entire home/apt,Entire home,253,30,87,1.80,288,t,f
4,1217678,Comfortable rooms in Clintonville 1,Neighborhood highlights,40.03869,-83.01728,Private room,Private room in home,74,1,283,1.90,342,t,f

In [9]:
# Import Json

import json

geo_path = r"C:\Users\rbaue\Desktop\A6_AirBnB_Cleaning\us_states.geojson.json"

with open(geo_path, "r", encoding="utf-8") as f:
    geo_data = json.load(f)

geo_data.keys()

dict_keys(['type', 'features'])

In [3]:
# Wrangling

df["price"] = (
    df["price"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
)

df["price"] = pd.to_numeric(df["price"], errors="coerce")

In [4]:
# Aggregate to neighborhood

neigh = (
    df.groupby("neighbourhood", as_index=False)
      .agg(avg_price=("price", "mean"),
           count_listings=("id", "count"))
)

neigh.head()

             neighbourhood   avg_price  count_listings
0  Neighborhood highlights  373.557585            1259

In [5]:
# Filter out some neighborhoods

neigh = neigh[neigh["count_listings"] >= 20]

In [10]:
geo_data["features"][0]["properties"].keys()

dict_keys(['name', 'density'])

In [11]:
geo_data["features"][0]["properties"]

{'name': 'Alabama', 'density': 94.65}

In [12]:
df.columns

Index(['id', 'name', 'neighbourhood', 'latitude', 'longitude', 'room_type',
       'property_type', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'availability_365', 'host_is_superhost',
       'instant_bookable'],
      dtype='object')